.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
 min-height: 100vh;
}

#toolbox {
  width: 20%;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 20px;
}
#t1{width: fit-content;
  position: fixed;
  font-size: larger;
  padding: 3rem;


}
/* #t1 h2{
  font-size: larger;
} */

.toolbox-item {
  margin-bottom: 10px;
  cursor: pointer;
}

#canvas {
  flex: 1;
  padding: 20px;
  border: 2px dashed #ccc;
  min-height: 300px;
}

.canvas-highlight {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.droppable {
  min-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.droppable {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* Additional styling for better visibility */
.delete-button:hover {
  background-color: darkred;
}
